<div [ngClass]="{'collapsed': isCollapsed}" class="list-box">
  <button (click)="toggleSidebar()" class="hamburger-btn">&#9776;</button>
  <ul>
    <ng-container *ngIf="userRole === 'admin'">
      <li class="list-item"><a routerLink="/dashboard" class="list-item-link">Dash Board</a></li>
      <li class="list-item"><a routerLink="/create-post" class="list-item-link">Create a Post</a></li>
      <li class="list-item"><a routerLink="/inbox" class="list-item-link">Check Inbox</a></li>
      <li class="list-item"><a routerLink="/models" class="list-item-link">Model Search</a></li>
      <li class="list-item"><a routerLink="/add-user" class="list-item-link">Add User</a></li>
      <li class="list-item"><a routerLink="/edit-user" class="list-item-link">Edit User</a></li>
      <li class="list-item"><a routerLink="/delete-user" class="list-item-link">Delete User</a></li>
</ng-container>

<ng-container *ngIf="userRole === 'seller'">
      <li class="list-item"><a routerLink="/coperate-dashboard" class="list-item-link">Dash Board</a></li>
      <li class="list-item"><a routerLink="/create-post" class="list-item-link">Create a Post</a></li>
      <li class="list-item"><a routerLink="/inbox" class="list-item-link">Check Inbox</a></li>
      <li class="list-item"><a routerLink="/models" class="list-item-link">Model Search</a></li>
      <li class="list-item"><a routerLink="/market-reports" class="list-item-link">Market Reports</a></li>
      <li class="list-item"><a routerLink="/appraisal-request" class="list-item-link">Appraisal Request</a></li>
      <li class="list-item"><a routerLink="/appraisal-inbox" class="list-item-link">Appraisal Inbox</a></li>

</ng-container>

<ng-container *ngIf="userRole === 'user'">
      <li class="list-item"><a routerLink="/user-dashboard" class="list-item-link">Dash Board</a></li>
      <li class="list-item"><a routerLink="/create-post" class="list-item-link">Create a Post</a></li>
      <li class="list-item"><a routerLink="/inbox" class="list-item-link">Check Inbox</a></li>
      <li class="list-item"><a routerLink="/models" class="list-item-link">Model Search</a></li>
      <li class="list-item"><a routerLink="/market-reports" class="list-item-link">Market Reports</a></li>
      <li class="list-item"><a routerLink="/appraisal-request" class="list-item-link">Appraisal Request</a></li>
      <li class="list-item"><a routerLink="/appraisal-inbox" class="list-item-link">Appraisal Inbox</a></li>
</ng-container>

<ng-container *ngIf="userRole === 'appraiser'">
      <li class="list-item"><a routerLink="/appraisal-dashboard" class="list-item-link">Dash Board</a></li>
      <li class="list-item"><a routerLink="/market-reports" class="list-item-link">Market Reports</a></li>
      <li class="list-item"><a routerLink="/models" class="list-item-link">Model Search</a></li>
</ng-container>
    
  </ul>
</div>

<h2>Hello, {{ username }}</h2>
<h1>Appraisal Inbox</h1>
<div class="hello-user">
    
</div>

<div class="appraisal-inbox">
    
    <div class="card-container">
      <div class="card" *ngFor="let appraisal of appraisalListings">
        <div class="card-header">
          Appraisal ID: {{ appraisal.id }}
        </div>
        <div class="card-body">
          <p><strong>Make:</strong> {{ appraisal.make }}</p>
          <p><strong>Model:</strong> {{ appraisal.model }}</p>
          <p><strong>Year:</strong> {{ appraisal.year }}</p>
          <p><strong>Posted Date:</strong> {{ appraisal.posted_date }}</p>
          <p><strong>Valuation:</strong> {{ appraisal.valuation }}</p>
          <p><strong>Comments:</strong> {{ appraisal.comments }}</p>
          <p><strong>Appraiser:</strong> {{ appraisal.appraiser }}</p>
          <p><strong>Appraised Date:</strong> {{ appraisal.appraised_date }}</p>
        </div>
        <!-- <button (click)="openChatModalForPost(appraisal)" type="pvtMsg" >See Messages</button> -->

      </div>
    </div>
    <p *ngIf="!appraisalListings || appraisalListings.length === 0">No appraisals found.</p>
  </div>
  