<h1>Edit User</h1>

<div [ngClass]="{'collapsed': isCollapsed}" class="list-box">
  <button (click)="toggleSidebar()" class="hamburger-btn">&#9776;</button>
  <ul>
    <ng-container *ngIf="userRole === 'admin'">
      <li class="list-item"><a routerLink="/dashboard" class="list-item-link">Dash Board</a></li>
      <li class="list-item"><a routerLink="/create-post" class="list-item-link">Create a Post</a></li>
      <li class="list-item"><a routerLink="/inbox" class="list-item-link">Check Inbox</a></li>
      <li class="list-item"><a routerLink="/models" class="list-item-link">Model Search</a></li>
      <li class="list-item"><a routerLink="/add-user" class="list-item-link">Add User</a></li>
      <li class="list-item"><a routerLink="/edit-user" class="list-item-link">Edit User</a></li>
      <li class="list-item"><a routerLink="/delete-user" class="list-item-link">Delete User</a></li>
</ng-container>

<ng-container *ngIf="userRole === 'seller'">
      <li class="list-item"><a routerLink="/coperate-dashboard" class="list-item-link">Dash Board</a></li>
      <li class="list-item"><a routerLink="/create-post" class="list-item-link">Create a Post</a></li>
      <li class="list-item"><a routerLink="/inbox" class="list-item-link">Check Inbox</a></li>
      <li class="list-item"><a routerLink="/models" class="list-item-link">Model Search</a></li>
      <li class="list-item"><a routerLink="/market-reports" class="list-item-link">Market Reports</a></li>
      <li class="list-item"><a routerLink="/appraisal-request" class="list-item-link">Appraisal Request</a></li>
      <li class="list-item"><a routerLink="/appraisal-inbox" class="list-item-link">Appraisal Inbox</a></li>

</ng-container>

<ng-container *ngIf="userRole === 'user'">
      <li class="list-item"><a routerLink="/user-dashboard" class="list-item-link">Dash Board</a></li>
      <li class="list-item"><a routerLink="/create-post" class="list-item-link">Create a Post</a></li>
      <li class="list-item"><a routerLink="/inbox" class="list-item-link">Check Inbox</a></li>
      <li class="list-item"><a routerLink="/models" class="list-item-link">Model Search</a></li>
      <li class="list-item"><a routerLink="/market-reports" class="list-item-link">Market Reports</a></li>
      <li class="list-item"><a routerLink="/appraisal-request" class="list-item-link">Appraisal Request</a></li>
      <li class="list-item"><a routerLink="/appraisal-inbox" class="list-item-link">Appraisal Inbox</a></li>
</ng-container>

<ng-container *ngIf="userRole === 'appraiser'">
      <li class="list-item"><a routerLink="/appraisal-dashboard" class="list-item-link">Dash Board</a></li>
      <li class="list-item"><a routerLink="/market-reports" class="list-item-link">Market Reports</a></li>
      <li class="list-item"><a routerLink="/models" class="list-item-link">Model Search</a></li>
</ng-container>
  </ul>
</div>

<div class="search-form">
  <label>Search by Name: <input [(ngModel)]="formData.name" type="text" name="name"></label>
  <button (click)="onSearch()">Search</button>
</div>


<div *ngIf="isUserFound" class="data-form">
  <h2>Edit User</h2>
  <form>
    <label>Username: <input [(ngModel)]="formData.name" type="text" name="name" required></label><br>
    <label>Password: <input [(ngModel)]="formData.password" type="password" name="Password" required></label><br>
    <label>Email: <input [(ngModel)]="formData.email" name="email" required></label><br>
    <label>Role:
      <select [(ngModel)]="formData.role" name="Role" required>
        <option value="user">Individual</option>
        <option value="seller">Seller</option>
      </select>
    </label><br>
    <button (click)="onSave()">Save Changes</button>
  </form>
</div>

<div *ngIf="isUserAdd" class="message-box success">
  User data has been updated successfully!
</div>

<div *ngIf="isEditFailed" class="message-box error">
  Failed to update user data. Please try again.
</div>

