<div [ngClass]="{'collapsed': isCollapsed}" class="list-box">
  <button (click)="toggleSidebar()" class="hamburger-btn">&#9776;</button>
  <ul>
    <li class="list-item"><a routerLink="/create-post" class="list-item-link">Create a Post</a></li>
    <li class="list-item"><a routerLink="/inbox" class="list-item-link">Check Inbox</a></li>
    <li class="list-item"><a routerLink="/market-reports" class="list-item-link">Market Reports</a></li>

    <li class="list-item"><a routerLink="/add-user" class="list-item-link">Add User</a></li>
    <li class="list-item"><a routerLink="/edit-user" class="list-item-link">Edit User</a></li>
    <li class="list-item"><a routerLink="/delete-user" class="list-item-link">Delete User</a></li>

  </ul>
</div>

