<!DOCTYPE html>
   <html lang="en">
   <head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Logout</title>
     <!-- Bootstrap CSS -->
     <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
     
   </head>
   <body>
     <div class="logout-container">
       <div class="logout-content">
         <h1>Are you sure you want to log out?</h1>
         <div class="logout-buttons">
           <button class="btn btn-danger" (click)="logout()" routerLink="">Logout</button>
           <button class="btn btn-secondary" routerLink="/search">Cancel</button>
         </div>
       </div>
     </div>
   
     <div class="container">
       <router-outlet></router-outlet>
     </div>
     
     <!-- Bootstrap JS -->
     <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
   </body>
   </html>
   