<form (submit)="searchCars()">
  <label for="make">Make:</label>
  <input type="text" id="make" [(ngModel)]="make" required name ="make">
  <label for="model">Model:</label>
  <input type="text" id="model" [(ngModel)]="model" required name ="model">
  
  <label for="minYear">Min Year:</label>
  <input type="number" id="minYear" [(ngModel)]="minYear" required name ="minYear">
  
  <label for="maxYear">Max Year:</label>
  <input type="number" id="maxYear" [(ngModel)]="maxYear" required name ="maxYear">
  
  <button type="submit">Search</button>
</form>

  <!-- Add buttons/links for sorting -->
<button (click)="sortByPrice('asc')">Sort by Price (Asc)</button>
<button (click)="sortByPrice('desc')">Sort by Price (Desc)</button>


<div class="card-container">
  <div class="card" *ngFor="let car of cars">
  <img [src]="car.img" alt="Car Image">
  <div class="card-body">
    <h5 class="card-title">{{ car.title }}</h5>
    <p class="card-text">Price: {{ car.price }}</p>
    <p class="card-text">City: {{ car.city }}</p>
    <p class="card-text">Source: {{ car.supplier }}</p>
    <p class="card-text"><strong> {{ car.priceLabel }}</strong></p>

    <a [href]="car.link" class="btn btn-primary">Details</a>
  </div>
  </div>
</div>
  

  
