/* Base styles for the sidebar */
.list-box {
  position: fixed;
  top: 0;
  left: 0;
  width: 150px;
  height: 100vh;
  background-color: #ca2d2d;
  color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 999;
  transition: width 0.2s ease;

  &.collapsed {
    width: 15px; /* Set to your desired collapsed width */
  }

  .hamburger-btn {
    background: none;
    border: none;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    margin-right: 5px;
    text-align: right;
  }

  .list-item {
    list-style: none;
    margin-bottom: 5px;

    .list-item-link {
      text-decoration: none;
      color: #fff;
      font-weight: bold;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}



.search-form {
    display: flex;
    align-items: center;
  
    label {
      margin-right: 10px;
      color: #333;
    }
  
    input {
      padding: 8px;
      margin-right: 10px;
    }
  
    button {
      background-color: #ca2d2d;
      color: white;
      padding: 10px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
  
      &:hover {
        background-color: #b22c2c;
      }
    }
  }
  
  .data-form {
    max-width: 400px;
    margin: 20px auto;
  
    h2 {
      color: #333;
    }
  
    form {
      label {
        display: block;
        margin-bottom: 8px;
      }
  
      button {
        background-color: #ca2d2d;
        color: white;
        padding: 10px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
  
        &:hover {
          background-color: #b22c2c;
        }
      }
    }
  }
  /* Message box styles */
.message-box {
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  font-weight: bold;
}

.success {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #28a745; // Bootstrap success color
  border-color: #c3e6cb;
  color: white;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

.error {
  background-color: #f44336;
  color: white;
}
  